.home-post-conteiter{
  display: flex;
  max-width: 1055px;
  border-bottom: 1px solid #000;
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 40px 0px;
  color:#000;
}
.home-post {

  // .home-post__title

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 12px 0px;
  }

  // .home-post__paragraph

  &__paragraph {
    font-size: 16px;
  }
}
