.home-author-card {
 
  border: 1px solid #000;
  max-width: 761px;
  min-height: 214px;
  display: flex;
  padding: 32px;
  img{
    border-radius: 50%;
    margin: 0px 48px 0px 0px;
  }
  &__contetn {

  }
  &__title{
    margin: 40px 0px 23px 0px;
  }
}
@media(max-width: 600px){
  .home-author-card {

    display: block;
    text-align: center;
    padding: 20px;
    img{

      margin: 0px 0px 0px 0px;
    }

    &__title{
      margin: 20px 0px 23px 0px;
    }
  }
}
